#cy {
  position: absolute;
  left: 16%;
  top: 0;
  bottom: 0%;
  right: 21%;
}

text {
  font: 12px sans-serif;
  pointer-events: none;
}

text.id {
  text-anchor: middle;
  font-weight: bold;
}

td {
  border:2px solid #53777A;
}

.resbtn:hover {
  background-color: #FFFBC7;
}

textarea{
  border-style: none;
}

input:focus {
    outline:none;
}

input{
  border:none;
}

tr{
  background-color: white;
}

.spawn {
  position: absolute;
  top: 100px;
  right: 100px;
}

.spawn img{
  position: absolute;
  cursor: move;
  z-index: 9;
}
