#cy {
  position: absolute;
  left: 16%;
  top: 0;
  bottom: 0%;
  right: 21%;
}

text {
  font: 12px sans-serif;
  pointer-events: none;
}

text.id {
  text-anchor: middle;
  font-weight: bold;
}

td {
  border:2px solid #53777A;
}

tr:hover {
  background-color: #FFFBC7;
}

textarea{
  border-style: none;
}

<<<<<<< HEAD
.spawn {
=======
input:focus {
    outline:none;
}

input{
  border:none;
}

tr{
  background-color: white;
}

.sspawn {
>>>>>>> 1a354896dfb06281814760c54343492d891c04a1
  position: absolute;
  top: 10px;
  right: 0px;
}

.fspawn {
  position: absolute;
  top: 500px;
  left: 500px;
  /*background-color: red;*/
  width: 60%;
  height: 60%;
}

.fspawn img{
  position: absolute;
  cursor: move;
  z-index: 9;
}

.tree {
  position: absolute;
  z-index: -99;
  width: 100%;
  display: block;
}

.tree img{
  width: 90%;
  display: block;
  margin: auto;
  opacity: 0.3;
}

.heart{
  position: absolute;
  z-index: 10;
  bottom: 20px;
  left: 10px;
}

.heart img{
  width: 40px;
}

.heart span{
  font-size: 30px;
}
